body {
    background-color: #0055cc;
    padding-top: 50px;
    color: #fff;
}

a {
    color: #fff;
}
a:hover {
    color: #fff;
    text-decoration: underline;
}

.center {
    text-align: center;
}
